*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-light-blue: #8dcbff;
    --clr-light-green: #74ffc5;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-light-blue);
}

.slider-container {
    width: clamp(1vw, 100%, 800px);
    border-radius: 0.75rem;
    overflow: hidden;
    position: relative;
    margin-inline: 1rem;
}

.slide {
    width: 100%;
    display: flex;
    transition: transform 1000ms ease;
}

.slider-container input {
    display: none;
}

.slide img {
    width: 100%;
}

.navigation-container {
    position: absolute;
    width: 100%;
    bottom: 8%;
    display: flex;
    justify-content: center;
    gap: 5%;
    z-index: 10;
}

.slide-btn {
    border: 2px solid var(--clr-light-green);
    padding: 0.3rem;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 580ms;
}

.slide-btn:hover {
    background-color: var(--clr-light-green);
}

#radio1:checked ~ .slide {
    transform: translateX(0);
}

#radio2:checked ~ .slide {
    transform: translateX(-100%);
}

#radio3:checked ~ .slide {
    transform: translateX(-200%);
}

#radio4:checked ~ .slide {
    transform: translateX(-300%);
}

#radio1:checked ~ .navigation-container #slide-btn1,
#radio2:checked ~ .navigation-container #slide-btn2,
#radio3:checked ~ .navigation-container #slide-btn3,
#radio4:checked ~ .navigation-container #slide-btn4 {
    background-color: var(--clr-light-green);
}