* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --clr-green: #96ff96;
    --clr-red: #ff6464;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
}

.display-c {
    width: 100%;
    text-align: center;
    background-color: #f4f4f4;
    outline: 2px dashed #000;
    padding: 1em;
    margin-bottom: 1rem;
    box-sizing: border-box;
    position: relative;
}

#jogador {
    width: 100%;
    font-size: 1.25rem;
}

#jogador span {
    font-size: 1.3rem;
    font-weight: 700;
}

.display-res {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: #3c3c3c;
    background-color: var(--clr-green);
    opacity: 0;
}

#vencedor {
    color: #000;
}

.mostrar .display-res {
    opacity: 1;
}

.mostrar ~ .jogo .btn {
    cursor: not-allowed;
}

.empate .display-res {
    background-color: var(--clr-red);
}

.jogo {
    height: clamp(50px, 100vw, 400px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.btn {
    cursor: pointer;
    border: none;
    outline: 2px solid #000;
    font-size: clamp(1.5rem, 15vmin, 4rem);
    background-color: #f4f4f4;
}

.display-c:not(.mostrar) ~ .jogo .btn:not(.selected):hover {
    background-color: #fff;
}

.selected {
    cursor: not-allowed;
    background-color: #d2d2d2;
}

.posicao-ganhador {
    background-color: var(--clr-green);
}

#btn-reset {
    cursor: pointer;
    border: none;
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 1.5rem;
    border-radius: 10px;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

@media (max-width: 500px) {
    main {
        align-items: flex-start;
    }
}