* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-madrugada: #00647d;
    --clr-manha: #d2c2a1;
    --clr-tarde: #e2791e;
    --clr-noite: #0b1e2f;

    --space: 1rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    padding-inline: var(--space);
}

h1 {
    text-align: center;
    color: #f4f4f4;
    margin-block: var(--space);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space);
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.2);
    padding: var(--space);
    margin: 0 auto;
}

.container p {
    font-size: 1.15rem;
    font-weight: 600;
}

#image {
    width: 100%;
    max-width: 300px;
}

footer {
    color: #fff;
    text-align: center;
    font-style: italic;
    margin-block: var(--space);
}